.header {
    background-color: #333;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 40px;
}

.navLinks {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navLinks li a {
    color: #fff;
    font-weight: bold;
}